apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: nexus-secret
      containers:
        - name: backend
          image: 18.212.65.110:8083/bookstore-backend:1.0
          ports:
            - containerPort: 5000
