apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: nexus-secret        
      containers:
        - name: frontend
          image: 13.222.210.181:8083/bookstore-frontend:1.0
          ports:
            - containerPort: 80
